@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.faq--content__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq--title__container {
    font-weight: bold;
}