.form--newProduct__container{
    max-width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    .form-newProduct{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .form--checkbox__productHighligth{
display: flex;
    }
    .form--products-categories__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
}